# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
[Pp]latforms/
.vs/
plugins/
*.user
bin/
src/Ionic appOcalypse/www/lib/
node_modules/

src/packages/

# xamarin
src/ksamarin/obj/
src/ksamarin/packages/

src/XFApp/XFApp/obj/
src/XFApp/XFApp.Droid/obj/
src/XFApp/XFApp.iOS/obj/
src/XFApp/XFApp.UWP/obj/
src/XFApp/XFApp.Windows/obj/
src/XFApp/XFApp.WinPhone/obj/
src/wuni/obj/